.dashboard-conrtainer{
    width: 160vh;
    height: auto;
    margin-left: 10%;
    margin-top: 2%;
}
.navBars{
    background-color: rgba(159, 244, 193, 0.902);
    padding: 1.2rem;
}

.sidebar{
    
    width: 250px;
    height: 100vh;
    background-color: rgba(159, 244, 193, 0.902);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.sidebutton{
    min-width: 300px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    
}
.sidebtn{
    min-width:150px;
    box-shadow: 0 5px 15px  rgba(255, 255, 255, 0.705);
    backdrop-filter: blur(2px);
    background: rgb(27, 27, 27)!important;
    color: rgb(255, 255, 255) !important;
}
.sideLogoutBtn{
    
    color: white ;
}
.nameicon{
    color: rgb(255, 255, 255);
}

.chart{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px;
}
.m{
    margin-left: 150px;
}
/* .back{
    display:flex;
    background: rgb(82, 83, 81);
    border-radius: 12px;
    color: rgb(255, 255, 255);
} */
#title{

        padding: 2px;
        border: 2px solid rgb(252, 252, 252);
        border-radius: 10px;
        background-color: azure;
        font-size:x-large;
        margin-top: 8px;
        margin-left: 10px;
    
}
.dropdown{
    width: 200px;
}
